sudo: false

services: mongodb
language: node_js
node_js:
  - 8.11.1

branches:
  only:
    - master

env:
  - session_secret=ziyanda
  - db_host=mongodb://ziyanda:maxa2013@ds217921.mlab.com:17921/tracking-your-world-mlab-db