<html lang="en">
  <header>
    <p class="app-name">Tracking Your World</p>
    <div id="login-container">
        <a href="/auth/signin" class="auth-btn-styles">Signin</a>
        <a href="/auth/signup" class="auth-btn-styles">Signup</a>
    </div>
    <div id="logout-container">
        <button id="logout" aria-label="logout" role="button" class="auth-btn-styles">Logout</button>
    </div>
</header>
</html>