<html lang="en">
  <header>
    <p class="app-name">Tracking Your World!!</p>
    <div id="login-container">
        <a href="/auth/signin">Signin</a>
        <a href="/auth/signup">Signup</a>
    </div>
    <div id="logout-container">
        <button id="logout" aria-label="logout" role="button">Logout</button>
    </div>
</header>
</html>