<html lang="en">
  <header>
    <p class="app-name"><a href="/">Tracking Your World</a></p>
    <p class="app-desciption"> Tracking Your World is an app that will allow you to track both your Food and Drinks.Using the app will help you keep better tabs on your consumption, which will help you develop and improve better day-to-day healthy habits for consistent steady progress</p>
    <div id="login-container"> 
        <a href="/auth/signin" class="auth-btn-styles">Signin</a>
        <a href="/auth/signup" class="auth-btn-styles">Signup</a>
    </div>
    <div id="logout-container">
        <button id="logout" aria-label="logout" role="button" class="auth-btn-styles">Logout</button>
    </div>
</header>
</html>
