<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="landing-container">

    <div class="hero-container">

        <div class="hero">



            <h2 class="tagline">Welcome!</h2>

            <p class="blurb"> They say "You are what you eat" and this is true, so Tracking Your World is a mobile and desktop application that will allow you to track "who you are". You will create your own unique profile and then track both your Food and Drinks. 
                </p>

            <p class="blurb">Tracking Your World helps you monitor your food intake .Suppose you were told by your doctor that you needed to lower your salt consumption. Adding to Tracking Your World what you ate on any given day will help you zero in on where in your diet you can make alterations to ensure you reduce salt intake appropriartely, and make you, your doctor and your body happy</p>

            <p class="blurb">Lets say for example you're trying to cut back on your soda intake,or alochol intake.Tracking Your World can help you by tracking how much and also what type. Using the app will help you keep better tabs on your consumption, as a result will also help you improve day-to-day for consistent steady progress. 
                </p>

            <div>
            <button id="signup-btn" class="generated-btn-styles-1"arial label ="sign up "role ="button">Signup</button></div>

            
        </div>
        <div class=tint></div>
    

    </div>

    <div class="features">

        <h2 class="features-heading">Benefits</h2>

        <div class="feature">
            <div class="feature-image">
                <img src="/images/feature_1.png" />
            </div>
            <h3 class="feature-heading">Food Diary Benefits</h3> 
            <ul class="feature-desc">
                    <li>Accountability</li>
                    <li>Eating Balanced Meals</li>
                    <li>Connecting Food to Locations and Feelings</li>
                  </ul>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/Health.png" />
            </div>
            <h3 class="feature-heading">Health Benefits</h3> 
            <ul class="feature-desc">
                    <li>Detecting food and drink intolerances.</li>
                    <li>Better nutrition</li>
                    <li>Identifying triggers to unhealthy eating</li>
                  </ul>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/Drinks.png" />
            </div>
            <h3 class="feature-heading">Drinks Diary Benefits </h3> 
            <ul class="feature-desc">
                    <li>Accountability and Control</li>
                    <li>Helps to remember names of unfamiliar drinks</li>
                    <li>Connecting drinks to Locations and Events </li>
                  </ul>
        </div>


    </div>
</div>
</html>