<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="landing-container">

    <div class="hero-container">

        <div class="hero">



            <h2 class="tagline">Welcome</h2>

            <p class="blurb"> They say "You are what you eat" and this is true, so Tracking Your World is a mobile and desktop application that will allow you to track "who you are". You will create your own unique profile and then track both your Food and Drinks. 
                </p>

            <p class="blurb">Tracking Your World helps you monitor your food intake and your drink consumption.Adding to the app what you ate and drank at any given day will help you zero in on how much and also what type of food or drinks you are consuming.

            <div>
            <button id="signup-btn" class="auth-btn-styles"arial label ="sign up "role ="button">Signup</button></div>

            
        </div>
        <div class=tint></div>
    

    </div>

    <div class="features">

        <h2 class="features-heading">Benefits</h2>

        <div class="feature">
            <div class="feature-image">
                <img src="/images/feature_1.jpg" />
            </div>
            <h3 class="feature-heading">Food Diary Benefits</h3> 
            <ul class="feature-desc">
                    <li>Accountability</li>
                    <li>Eating Balanced Meals</li>
                    <li>Connecting Food to Locations and Feelings</li>
                  </ul>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/Health.png" />
            </div>
            <h3 class="feature-heading">Health Benefits</h3> 
            <ul class="feature-desc">
                    <li>Detecting food and drink intolerances.</li>
                    <li>Better nutrition</li>
                    <li>Identifying triggers to unhealthy eating</li>
                  </ul>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/Drinks.jpg" />
            </div>
            <h3 class="feature-heading">Drinks Diary Benefits </h3> 
            <ul class="feature-desc">
                    <li>Accountability and Control</li>
                    <li>Helps to remember names of unfamiliar drinks</li>
                    <li>Connecting drinks to Locations</li>
                  </ul>
        </div>


    </div>
</div>
</html>