
@import url('https://fonts.googleapis.com/css?family=Thasadith');

.tracker-target {
  padding-left: 20px;
}
 .app-desciption{
   color: #16418f;
   font-family: 'Thasadith', sans-serif;
   font-size: 25px;
 }
body {
  width: 100%;
  margin: 0;
  font-family: 'Thasadith', sans-serif;
}


html {  
  width: 100%;
  background: url('../images/backroung8.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  /* justify-content: center; */
  /* flex-direction: row; */
  width: 100%;
  /* display: flex; */
  /* position: fixed; */

  background-color: white;
    text-align: center;

  /* flex-wrap: nowrap; */
}

header:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

.app-name {
  padding-left: 12%;
  text-align: center ;
  font-size: 35px;
  color:#16418f;
  display:inline-block;
  font-weight: bold;
}

.app-name a:link,
.app-name a:visited,
.app-name a:hover,
.app-name a:active {
  color:#16418f;
  text-decoration: none;
}

.hero {
  position: relative;
  z-index: 1;
  padding: 60px 40px;
}

.hero p, .hero h2 {
  margin: 0;
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));
  z-index: 0;
}

.hero-container {
  position: relative;
}

#landing-container {
    position: relative;
    /* background-image: url('/images/banner_image_rotated.jpg'); */
  background-size: cover;
  background-position: center -315px;  
}


.generated-btn-styles-1 {
  background: #099eb8;
  background-image: -webkit-linear-gradient(top, #099eb8, #126f7d);
  background-image: -moz-linear-gradient(top, #099eb8, #126f7d);
  background-image: -ms-linear-gradient(top, #099eb8, #126f7d);
  background-image: -o-linear-gradient(top, #099eb8, #126f7d);
  background-image: linear-gradient(to bottom, #099eb8, #126f7d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
#logout{
  background-color: #1461bf !important;
}
.generated-btn-styles-1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.signin .auth-btn-styles{
  background: #1461bf;
  background-image: -webkit-linear-gradient(top, #16418f , #1461bf);
  background-image: -moz-linear-gradient(top, #16418f , #1461bf);
  background-image: -ms-linear-gradient(top,#16418f , #1461bf);
  background-image: -o-linear-gradient(top,#16418f , #1461bf);
  background-image: linear-gradient(to bottom, #16418f , #1461bf);
}
.signup .auth-btn-styles{
  background: #1461bf;
  background-image: -webkit-linear-gradient(top, #16418f , #1461bf);
  background-image: -moz-linear-gradient(top, #16418f , #1461bf);
  background-image: -ms-linear-gradient(top,#16418f , #1461bf);
  background-image: -o-linear-gradient(top,#16418f , #1461bf);
  background-image: linear-gradient(to bottom, #16418f , #1461bf);
}
.generated-btn-styles-2 {
  background: #16418f;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.generated-btn-styles-2:hover {
  background: #3cb0fd;

  text-decoration: none;
}



#landing-container .tagline {
  font-size: 50px;
  padding-bottom: 30px;
  color: #afadd0;
  font-family: 'Thasadith', sans-serif;
}

#landing-container .blurb {
  padding-bottom: 20px;
  font-size: 25px;
  color:#afadd0;
  font-family: 'Thasadith', sans-serif;
}

.features {
  background: #f5f5f5;
  padding: 50px 15px;
  text-align: center;
}

.features-heading {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 37px;
  color: #16418f;
}

.feature {
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
  display: inline-block;
  max-width: 350px;
  padding: 15px;
  margin: 0 10px 15px 10px;
  background: white;
  text-align: left;
  border-radius: 10px;
  color: black;
  vertical-align: top;
  transition: transform 300ms ease;
}

.feature:hover {
  transform: scale(1.05);
}

.feature-image {
  margin: 0 auto 15px auto;
  text-align: center;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.feature-image img {
  width: 100%;

}

.feature-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
  color: #16418f
}

.feature-desc li {
  max-width: 250px;
  font-size: 23px;
  color: #16418f;
}



#trackers-container {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 80px;
}

.container {

  color: white;
  /* flex-direction: column;
  display: flex; */
}

.auth-container {
  text-align: center;
}

.container .auth input, .container .auth button {
  margin: auto;
  display: block;
}

.container .auth {
    /* width: 200px; */
    margin: auto;
    display: inline-block;
    background-color: rgba(20, 97, 191, 0.8);
    padding: 60px 50px 50px 50px;
    margin-top: 65px;
}

.container .auth input {
  line-height: 30px;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 7px;
}
.edit {
  background-color: white;
}
.container .auth button {
  margin-top: 10px;
}

#tracker-submit {
  background-color: white;
}

.tracker-target-table {
  color: white;
  font-weight: 500;
  background-color: rgba(20,97,191, 0.8);
}

.tracker-target-table td {
  padding-right: 10px;
}

.trackers-header {
  margin-top: 40px;
  color: #afadd0  
}

#trackers button {
  font-size: 18px;
}

#trackers button.confirm {
  color: black;
  background-color: white;
}

select {
  background-color: white;
}

#login-container {
  padding-right: 20px;
  padding-top: 20px;
  float:right;
  /* display:inline block; */
  
}

#logout-container {
  padding-right: 20px;
  padding-top: 20px;  
 float: right;
 /* display:inline block; */
}

#signup-btn {
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
}

.auth-btn-styles {

    background-color:#16418f !important;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 15px

 }
 
#login-container .auth-btn-styles {
  margin-right: 10px;
  margin-bottom: 15px;
  /* color: #afadd0 */
}

.tracker-name {
  cursor: pointer;
}

.tracker-target-table {
  /* display: none; */
  
}

#welcome-message {
  font-size: 35px;
  padding-top: 15px;
  color: #afadd0  
}

th {
  background-color: rgb(1, 3, 1);
  color: white;
  text-transform: capitalize;
}


.name-container {
  width: 150px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.crud-button {
  text-align: center;
  text-decoration: none;
  background-color:#1461bf;
  color: white;
}

.add-inputs {
  position: absolute;
  right: 0;
  top: 36%;
}

.delete {
  position: absolute;
  top: 36%;
  right: 20%;
}

.add-tracker {
  background-color: rgba(20, 91, 197, 0.8);
  display: inline-block;
  padding: 20px;
  margin-top: 30px
}

#tracker-input {
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  * {
    font-size: 35px;
  }

  .feature-desc li {
    font-size: 23px;
  }

  #welcome-message {
    text-align: center;
    font-size: 55px !important;
  }

  .name-container {
    width: 250px;
  }
  
  #trackers button {
    /*font-size: 20px !important;*/
    margin-top: 0;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  #password, #username {
    height: 50px;
  }
  
  .feature {
    display: block;
    /*max-width: none;*/
    margin-left: auto;
    margin-right: auto;
  }

  .feature-image {
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
  }

  .feature-heading {
    font-size: 35px;
    margin-left: 20px;
  }

  .feature-desc li {
    max-width: none;
  }
}

@media screen and (min-width: 1024px) {
  .feature {
    min-height: 360px;
  }
}

@media screen and (max-width: 740px) and (min-width: 300px) {



  .app-name {
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    display: block;
  }
  .auth-btn-styles {
    /* align-content:  right; */
    background-color: #1461bf;
    color: white;
    padding: 8px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    /* float:right; */

 }

 .container {
  padding-top: 100px;
  color: white;
  /* flex-direction: column;
  display: flex; */

}
.container .box {
  /* width: 200px; */
  margin: auto;
  margin-top: 80px;
  background-color: rgba(20, 97, 191, 0.8);
  padding: 20px;
}
@media screen and (max-width: 568px) and (min-width: 320px){
  .container .box {
    /* width: 200px; */
    margin: auto;
    margin-top: 80px;
    background-color: rgba(20, 97, 191, 0.8);
    padding: 20px;
}

.app-name {
  padding-left: 0;
  text-align: inherit;
  font-size: 30px;
  padding-bottom: 0;
}

#login-container, #logout-container {
  padding-bottom: 15px;
}

}

}
